/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    color: #f3f4f6; // Tailwind's gray-100, or use white (#fff)
    
    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
}